@import "../../../styles/colors.scss";
.wrapper {
	background-color: $background-secondary;
	border-bottom: 1px solid $background-main;
}
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}

.logo {
	font-size: 42px;
	font-weight: 700;
	margin: 0px 0px 30px 0px;
	color: $white;
	text-align: center;
	line-height: 1;
	&SecondText {
		display: block;
		font-size: 10px;
	}
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;

	&Location {
		color: $white;
	}
	&LocationLink {
		text-align: center;
		font-weight: 700;
		color: $main-text;
		margin: 0px 0px 15px 0px;
	}
	&Work {
		text-align: center;
		margin: 0px 0px 15px 0px;
	}
	&WorkDays {
		color: $white;
		margin: 0px 10px 0px 10px;
		&:nth-child(1) {
			margin: 0px 10px 0px 10px;
		}
	}
	&WorkHours {
		font-weight: 700;
		margin: 0px 10px 0px 0px;
		color: $main-text;
		&:nth-child(4) {
			margin: 0px;
		}
	}
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	&Phone {
		display: flex;
		margin: 0px 0px 10px 0px;
		img {
			margin: 0px 5px 0px 0px;
		}
	}
	&SocialLogo {
		width: 24px;
		height: 24px;
		color: $main-text;
	}
}

@media (min-width: 1200px) {
	.container {
		flex-direction: row;
		justify-content: space-between;
		max-width: 1600px;
		margin: 0 auto;
	}
	.logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		order: 2;
		margin: 0;
		justify-content: center;
		&SecondText {
			font-size: 12px;
		}
	}
	.info {
		order: 1;
		align-items: center;
		&LocationLink {
			text-align: center;
			margin: 0;
		}
		&Work {
			margin: 0;
		}
	}
	.contacts {
		order: 3;
		flex-direction: row;
		&Phone {
			margin: 0px 15px 0px 0px;
			img {
				margin: 0px 5px 0px 0px;
			}
		}
	}
}
