@import "../../../styles/colors.scss";

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 0px 10px;
	max-width: 390px;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $black;
	margin: 0px 0px 30px 0px;
	border-bottom: 1px solid $light-green;
	width: 100%;
	&Title {
		font-size: 24px;
		text-transform: uppercase;
		margin: 0px 0px 30px 0px;
	}
	&WorkHours {
		display: block;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		color: $red;
	}
}